@charset "UTF-8";

* {
    
    font: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #B7A6F6, #C37EDB);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 3px 3px 10px #412a4977;
    
}

h1 {
    color: #FC8DCA; 
    text-align: center;
    text-shadow: 1px 1px 2px #834968b9;
}

h2 {
    color: #88A3E2;
}

p {
    text-align: justify;
}