@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: rgb(150, 150, 150);
    color: white;
    padding: 10px;
}

h1 {
    border: 1px dotted black;
}

nav {
    border: 1px dotted black;
}

nav > a {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

nav > a:hover {
    background-color: white;
    color: black;
    transition: background-color .3s;
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.534);
}
