img {
    height: 270px;
    width: 200px;
    border-radius: 50%;
}

img#github{
    height: 25px;
    width: 25px;
}

img#instagram{
    height: 25px;
    width: 25px;
}
img#link{
    height: 25px;
    width: 25px;
}

img#face{
    height: 25px;
    width: 25px;
}
